
@import url('~bootstrap/dist/css/bootstrap.css');
/* TODO */

.box {
  float: left;
  width: 100px;
  height: 100px;
}

.green{
  background-color: lightgreen;
}

.black{
  background-color: black;
}